h2 
{
    margin:0;
    padding:0;
    border: none;
    top:0px;
    position: relative;
    background-color: #3B5998;
	height: 50px;
	left: 0px;
	width: 100%;
}


body 
{
	position: relative;
    background-color: lightblue;	
}
		
.infoContainer 
{
	margin:0;
    padding:0;
    width: 250px;
    border: none;
    top:0px;
    position: relative;
	float: left;
	background-color: lightblue;
	font-size: 120%;
	color: #3B5998;
}

.submit
{
	margin-top: 5px;
	position: relative;
}

.editor 
{
	position: relative;
	float: right;
	top: -5em;
	padding-right: 20px;
	width: 75%;
}

.buttons
{
	position: relative;
	left: -55%;
	float: left;
	width: 100%;
}

.executeBtnArea
{
	position: relative;
}

.dataBtnArea
{
	display: block;
	position: relative;
}

.textContainer 
{
	position: relative;
	padding-right: 10px;
	float: left; 
	top: 40px;
	height: 500px;
	width: 400px;
	border-top: none;
	border-left: none;
	border-bottom:none;
	border-right: 3px solid #3B5998;
}

.commandBtn
{
	display: block;
	position:relative;
	float: right;
	top: 20px;
	left:20px;
	margin-right:3px;
}

.fileList
{
	position: relative;

}

.displayNone
{
	display: none;
}

.newPrb
{
	position: relative;
	top: -5px;
	background-size: 30px 30px;
}
.newPrb:hover
{
	text-decoration: underline;
	cursor:pointer;
	/* box-shadow: 0px 0px 10px #888888; */
}

.newPRBForm
{
	display:none;
	position: relative;
}
.newPRBForm-input
{
	width:120px;
	height:30px;
}

.newDatFileCreator
{
	position: relative;
	color: #204a87;
	font-weight: normal;
	/*float: right;
	width: 20px;
	height:23px;
	background-color: red;*/
}
.newDatFileCreator:hover
{
	text-decoration: underline;
	cursor:pointer;
}

.newDatFileCreator-form
{
	position: relative;
	left: -10px;
	z-index: 2;
}

.newDatFileCreator-input
{
	position: relative;
	left: -10px;
	z-index: 2;
	width:100px;
	height:30px;
}

.fileTree
{
	position: relative;
	display: list;
	left: 20px;
	/*color: red;*/
}

.selectedFile
{
	cursor:pointer;
	color: #4e9a06;
}

.prbList
{
	cursor:pointer;
	color: #204a87;
}
.prbList:hover {
    background: white;
}

.deleteSign
{
	position: relative;
	display: inline;
	float: right;
	height: 24px;
	width: 24px;
	/*background-color: red;*/
	background-image: url("/static/img/delete.jpg");
	background-size: 100% 100%;	
}

.noDownload
{
	position: relative;
	display: inline;
	float: right;
	height: 24px;
	width: 24px;
	/*background-color: red;*/
	background-image: url("/static/img/nodownload.png");
	background-size: 100% 100%;	
}

.downloadSign
{
	position: relative;
	display: inline;
	float: right;
	height: 24px;
	width: 24px;
	/*background-color: red;*/
	background-image: url("/static/img/download.jpg");
	background-size: 100% 100%;
}

.datList
{
	color: #65a9d7;
	cursor:pointer;
}

.datList:hover {
    background: white;
}

.listItems
{
	cursor:pointer;
}

.logoutBtn
{
	position: absolute;
	right: 2%;
	float: right;
}

.button 
{
	border-top: 1px solid #96d1f8;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	background: -ms-linear-gradient(top, #3e779d, #65a9d7);
	background: -o-linear-gradient(top, #3e779d, #65a9d7);
	padding: 5.5px 11px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #000000;
	font-size: 16px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}
.button:hover {
 		border-top-color: #28597a;
 		background: #28597a;
 		color: #ccc;
 		}
.button:active {
 		border-top-color: #1b435e;
 		background: #1b435e;
 		}
.button:active {
 		border-top-color: #1b435e;
 		background: #1b435e;
 		}