<!DOCTYPE html>
<html>
	<script>
		var arg = "{{arg}}";
		var flist = "{{arg2}}";
	</script>
	<meta charset="utf-8">	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="/static/scripts/codeGen.js" type="application/javascript"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/codeAndDataGen.css">
	
<head>
<h2>
<a class="logoutBtn submit btn btn-success" href="/logout">Logout</a>
</h2>

<body>
	
	 
	 <span class="infoContainer">
	    <ul class="fileList" id="datFileList"> </ul>
	    <div id="newPrbId" class="newPrb" onclick="createNewPrb()">
	        +create new prb file
		    <form id="createNewPRBId" class="newPRBForm" action="/createNewPRB" method="post" onsubmit="return createFileFormValidation()">
		    	<input type="text" class="newPRBForm-input" name="fileName" onclick="propagationStopper(event)" placeholder="File Name">
		    </form>
	    </div>
	    <dl class="fileList" id="prbFileList"> </dl>
	 </span>
	
	 <span class = "editor" id="prbAreaId" >
	    <div class="buttons">
		 	<div id="executeBtnAreaId" class="executeBtnArea">
			 	 <button class="customBtn" type="button" id="saveButtonId">Save Code</button>
			 	 <button class="customBtn2" type="button" id="executeButtonId">Execute Code</button>
		 	</div>
		 	
		 	<div id="dataBtnAreaId" class="dataBtnArea">
		 		<button class="customBtn" type="button" id="dataSaveButtonId">Save Data</button>
		 		<button class="customBtn2" type="button" id="dataExecuteButtonId">Generate Data</button>
		 	</div>
	 	</div>
	 	<div id="editableDivId" contenteditable="true" class="editableDiv" onkeyup="syntaxCall()" ></div>
	    <textarea class = "textContainer" id="textAreaId">
		 	Here Goes the text. &#13;&#10;Click on Load to update the text.
	 	</textarea>
	    <textarea class = "consoleContainer" id="consoleAreaId">
		 	Here goes the console output. &#13;&#10;Click on Execute to execute the text.
	 	</textarea>
	 </span>
	 <div id="workspace" ></div>
</body>
</html>