<!DOCTYPE html>
<html>
<script src="/static/scripts/homePage.js"></script>

<body background = "/static/img/spongebob.jpg">
 <h2> Hello {{arg['name']}} </h2>
	 <div>
	 	Sign In:
	 	<form action="/signin" method = "post">
			<input type="text" name="username" placeholder="Username"><br/><br>
			<input type="password" name="password" placeholder="Password"><br />
			
			<input type="submit" name="login" value="LOGIN"><br />
		</form>
	 </div>
	 <p id="demo">A Paragraph</p>

	<button type="button" onclick="myFunction()">Try it</button>
	
</body>

</html>