<!DOCTYPE html>
<html>
	{% autoescape None %}
    <script>
		var arg = {{arg}};
		if (arg.msg != null)
			{
				alert(arg.msg);
			}
	</script>
	<meta charset="utf-8">
	<script src="/static/scripts/homePage.js" type="application/javascript"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/home.css">


	<h2></h2>
	
	<div class="loginBox">
	 	<button id="signInBtnId" class="btn btn-info active" type="button" onclick=toggle_visibility('SignIn','SignUp','signInBtnId','signUpBtnId')> Sign In </button>
	 	<button id="signUpBtnId" class="btn btn-default" type="button" onclick=toggle_visibility('SignUp','SignIn','signUpBtnId','signInBtnId')> Sign Up </button>
	 	
	 	<form id="SignIn" class="formField" action="/signin" style="display:block" method = "post">
			<input type="text" name="username" placeholder="Username"><br/><br>
			<input type="password" name="password" placeholder="Password"><br/>
			<input class="submit btn btn-success" type="submit" name="login" value="Login"><br/>
		</form>
		
		<form id="SignUp" class="formField" action="/signup" style="display:none" method = "post">
			<input type="text" name="firstname" placeholder="First Name"><br/>
			<input type="text" name="lastname" placeholder="Last Name"><br/>
			<input type="text" name="username" placeholder="Chose Username"><br/><br>
			<input type="password" name="password" placeholder="Password"><br/>
			<input type="password" name="confPassword" placeholder="Confirm Password"><br><br/>
			<input type="text" name="email" placeholder="Email ID"><br/>
			
			<input class="submit btn btn-success" type="submit" name="login" value="Sign Up"><br/>
		</form>
		
	 </div>

</body>
</html>