<!DOCTYPE html>
<html>

<script src="/static/scripts/indexPage.js" type="application/javascript"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/homePage.css">

<body background = "/static/img/patrick.jpg">
 <h2> Hi {{username}} </h2>
	 <div class = "infoContainer">
	 	You are Signed In {{username}} <br><br>
		<form enctype="multipart/form-data" action="/upload" method="post">
			File: <input type="file" name="filearg" />
			<br />
			<br />
			<input type="submit" value="upload" />
		</form>
	 </div>

	 <textarea class = "textContainer">
		Here Goes the text.
	 </textarea>
	 
</body>
</html>