<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<head>
	<style>
		body {
		background-color:lightgray;
		}
		
		.infoContainer {
		float: left;
		background-color:lightblue;
		}
		
		.textContainer {
		float: right;
		
		}
	</style>

<body>
 
	 <div class = "infoContainer">
	 	Well This is the first class
	 </div>

	 <textarea class = "textContainer">
		Here Goes the text.
		I have no freaking idea how.
	 </textarea>
	 
</body>
</html>