<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<head>
	<style>
		body {
		background-color:lightgray;
		}
		
		.infoContainer {
		float: left;
		background-color:lightblue;
		}
		
		.editor {
		float: right;
		}
		
		.textContainer {
		position: relative;
		float: right; 
		top: 20px;
		height: 500px;
		width: 800px;
		}
		
	</style>
	
	<script> 
		var arg = "{{arg}}";
		var arg = arg.replace(/&quot;/ig,'"');
		var arg = arg.replace(/&amp;/ig,'&');
		var st = JSON.parse(arg);
		
		function myFunction() 
			{
			   var txt = "Paragraph changed" + ": " + st.data;
			   document.getElementById("textAreadId").innerHTML = txt;
			}
	</script>

<body>
 
	 <div class = "infoContainer">
	 	Well! This is the first class.
	 </div>
     <div class = "editor">
	 	<textarea class = "textContainer" id="textAreadId">
		 	Here Goes the text. &#13;&#10;Click on Load to update the text.
	 	</textarea>
	 	<button type="button" onclick="myFunction()">Load</button>
	 </div>
	 
</body>
</html>