<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<head>
	<style>
		body {
		background-color:lightgray;
		}
		
		.infoContainer {
		float: left;
		background-color:lightblue;
		}
		
		.editor {
		float: right;
		}
		
		.textContainer {
		position: relative;
		float: right; 
		top: 20px;
		height: 500px;
		width: 800px;
		}
		
	</style>
	
	<script> 
		var arg = "{{arg}}";
		var arg = arg.replace(/&quot;/ig,'"');
		var arg = arg.replace(/&amp;/ig,'&');
		var st = JSON.parse(arg);
		
		$(document).ready(function(){
    					$("#saveButtonId").click(function(){
        				$.post("/upload/save",
        				       { Data: $("#textAreaId").val() } 
        				      );
    						}
    					);
    					$("#executeButtonId").click(function(){
        				$.post("/upload/execute",
        				       { Data: $("#textAreaId").val() },
        				       consoleUpdate() 
        				      );
    						}
    					);
			   		}
			   		);
		
		function loadFile() 
			{
			   var txt = "Paragraph changed" + ": " + st.data;
			   document.getElementById("textAreaId").innerHTML = txt;
			}
		function saveFile() 
			{
				var id = document.getElementById("textAreaId");
			    var txt = id.innerHTML;
			}
		function consoleUpdate()
			{
			var id = document.getElementById("consoleAreaId");
			id.innerHTML = $.get( "/upload/execute", function( data ) {
								$( "#consoleAreaId" ).html(data);
									}, "json" );
			}
	</script>

<body>
 
	 <div class = "infoContainer">
	 	Well! This is the first class.
	 </div>
     <div class = "editor">
	 	<textarea class = "textContainer" id="textAreaId">
		 	Here Goes the text. &#13;&#10;Click on Load to update the text.
	 	</textarea>
	 	<button type="button" onclick="loadFile()" id="loadButtonId">Load</button>
	 	<button type="button" id="saveButtonId">Save</button>
	 	<button type="button" id="executeButtonId">Execute</button>
	 	<textarea class = "textContainer" id="consoleAreaId">
		 	Here goes the console output. &#13;&#10;Click on Execute to execute the text.
	 	</textarea>
	 </div>
	 
</body>
</html>