<!DOCTYPE html>
<html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/static/scripts/jquery.min.js"></script>
<head>
	<style>
		body {
		background-color:lightgray;
		}
		
		.infoContainer {
		float: left;
		background-color:lightblue;
		}
		
		.editor {
		float: right;
		}
		
		.textContainer {
		position: relative;
		float: right; 
		top: 20px;
		height: 500px;
		width: 600px;
		}
		
	</style>
	
	<script>
		var arg = "{{arg}}";
		var flist = "{{arg2}}";
		
		flist = flist.replace(/&quot;/ig,'"');
		flist = flist.replace(/&amp;/ig,'&');
		var fnamelist = JSON.parse(flist);
		
		var arg = arg.replace(/&quot;/ig,'"');
		var arg = arg.replace(/&amp;/ig,'&');
		try
		    {
		        var st = JSON.parse(arg);
		        var parsedText = st.data;
		    }
		catch(err)
		    {
		        var parsedText = "Unable to parse the data. \n Error: " + err.message; 
		    }
		
		$(document).ready(function(){
    					$("#saveButtonId").click(function(){
        				$.post("/upload/save",
        				       { Data: $("#textAreaId").val() } 
        				      );
    						}
    					);
    					$("#executeButtonId").click(function(){
        				$.post("/upload/execute",
        				       { Data: $("#textAreaId").val() },
        				       	 function(result){
        							$("#consoleAreaId").html(result);
        							},
        						 "json");
    						}
    					);
			   		}
			   		);
		
		function loadTextArea() 
			{
			   document.getElementById("textAreaId").innerHTML = parsedText;
			}
	    function fileListOnclick()
	    {
	        var a = document.getElementById("currentFileName");
	        a.innerHTML = "Current File Set to:" + this.fileName;
	        
	    }
        function loadListOfFiles()
            {
                var names = fnamelist.fileNames;
                var list = document.getElementById("fileList");
                var optList = document.getElementById("fileOptions");
                
                for(var i=0; i<names.length; i++)
                    { var item = document.createElement('li');
                      item.fileName = names[i];
                      item.onclick = fileListOnclick; //this function is to make it a method and prvents it from calling the fileListOnclick function itself
                      item.appendChild(document.createTextNode(names[i]));
                      list.appendChild(item);
                      
                      var opt = document.createElement("OPTION");
                      opt.setAttribute("value", names[i]);
                      optList.appendChild(opt);
                    }
            }
		window.onload = function(){
		loadTextArea();
		loadListOfFiles();
		}
	</script>

<body>
	<div class = "infoContainer">
	    Only .py or .txt formats
		<form enctype="multipart/form-data" action="/upload" method="post">
			File: <input type="file" name="filearg" />
			<input type="submit" value="upload" />
		</form>
	</div>
	//action="/test" method="get"
	<form >
		<input list="fileOptions" name="fileOptions">
			<datalist id="fileOptions">
			</datalist>
		<input type="submit" value="Execute" onclick="javascript: form.action='/test'; form.method='get';">
		<input type="submit" value="Load" >
		<input type="submit" value="Save" >
	</form>
	
	 <div id="currentFileName">  </div>
	 <div class="editor">
	     <ul id="fileList"> </ul>
	 </div>
	 
	 <div class = "editor">
	    <textarea class = "textContainer" id="consoleAreaId">
		 	Here goes the console output. &#13;&#10;Click on Execute to execute the text.
	 	</textarea>
	 	<textarea class = "textContainer" id="textAreaId">
		 	Here Goes the text. &#13;&#10;Click on Load to update the text.
	 	</textarea>
	 	<button type="button" id="saveButtonId">Save</button>
	 	<button type="button" id="executeButtonId">Execute</button>
	 </div>
	 
</body>
</html>